---
---
<header class="navbar fixed-top grid-container">
    <div class="logo"><img src="/web_cnu/public/logo.png" alt="logo"></div>
    <nav>
      <ul class="nav-menu">
        <li><a href="#about">¿Quiénes somos?</a></li>
        <li><a href="#team">Nuestro Equipo</a></li>
        <li><a href="#projects">Proyectos</a></li>
        <li><a href="#join">Únete al Equipo</a></li>
      </ul>
    </nav>
  </header>
<style>
  /* Navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    padding: 1rem 2rem;
    background-color: #f6f3f3e6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .logo img {
    width: 50px; 
    height: auto; 
    object-fit: contain; 
  }
  .logo img:hover {
    transform: scale(1.1);
    transition: .1s;
  }
  .nav-menu {
    list-style: none;
    display: flex;
    gap: 3.5rem;
  }
  
  .nav-menu li a {
    text-decoration: none;
    color: #000000;
    font-style: "Poppins", serif;
    font-size: 1rem;
    font-weight: 00;
  }
  
  .nav-menu li a:hover {
    color: #002aff; 
  }
  


</style>